*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(../images/header_log.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container{
    max-width: 100%;
    margin: 5% auto;
    padding: 20px;
}

.background-lg{
    background: rgba(128, 128, 128, 0.212);
    max-width: 360px;
    min-height: 360px;
    margin: 0 auto;
    height: 400px;
    padding: 30px;
    color: #fff;
}

@media (max-width: 450px) {
    .container{
        margin-top: -50px; 
    }
    .background-lg input{
        width: 110%;
        margin-left: -5%;
    }
}

.background-lg img{
    width: 100px;
    margin-bottom: 20px;
}

.background-lg .btn-log{
    border: solid 1px #f3f3f35f;
    border-radius: 10px;
    padding: 8px 10px;
    width: 100%;
    background: rgba(60, 60, 60, 0.26);
    color: #fff;
}

.btn-log:hover{
    background: #0000007d;
}

.btn-login{
    text-align: center;
    padding: 15px;
}



